.container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.Main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Services {
  display: flex;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-color: var(--dl-color-scheme-lightbrown);
}
.max-width {
  flex-direction: column;
}
.heading-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
}
.text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text01 {
  font-size: 46px;
  font-family: DM Serif Display;
  font-weight: 500;
  line-height: 63px;
  letter-spacing: 0.01em;
  text-decoration: none;
}
.cards-container {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  margin-bottom: 22px;
}
.cards-container1 {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  justify-content: center;
}
.Banner {
  background-color: var(--dl-color-scheme-brown);
}
.max-width1 {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.text05 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text06 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.text08 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.primary {
  margin-bottom: var(--dl-space-space-threeunits);
}
.top-part {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.links-container {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text12 {
  color: var(--dl-color-scheme-brown);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text16 {
  color: var(--dl-color-scheme-brown);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.subscribe-container {
  flex: 0 0 auto;
  width: 35%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text17 {
  color: var(--dl-color-scheme-brown);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.Separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #D9D9D9;
}
.max-width3 {
  flex-direction: row;
  justify-content: space-between;
}
.image {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.link3 {
  align-self: center;
  text-decoration: none;
}
.text19 {
  font-weight: 700;
}
@media(max-width: 767px) {
  .top-part {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .links-container {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
  }
  .subscribe-container {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .Services {
    padding-top: 4px;
    background-color: var(--dl-color-scheme-white80);
  }
  .max-width {
    padding-top: 72px;
  }
  .text {
    color: #d10202;
  }
  .text01 {
    color: var(--dl-color-scheme-lightblue);
    font-size: 45px;
    font-family: Poppins;
    line-height: 50px;
  }
  .cards-container {
    width: 302px;
    flex-direction: column;
  }
  .cards-container1 {
    width: 302px;
    flex-direction: column;
  }
  .Banner {
    background-color: #ef233c;
  }
  .top-part {
    align-items: center;
    flex-direction: column;
  }
  .contact-container {
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .subscribe-container {
    align-items: center;
  }
  .max-width3 {
    flex-direction: column;
  }
  .image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .link3 {
    text-align: center;
  }
}
