.container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.Main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Services {
  display: flex;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-color: var(--dl-color-scheme-lightbrown);
}
.max-width {
  flex-direction: column;
}
.heading-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
}
.text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text01 {
  font-size: 46px;
  font-family: DM Serif Display;
  font-weight: 500;
  line-height: 63px;
  letter-spacing: 0.01em;
  text-decoration: none;
}
.cards-container {
  width: 100%;
  display: flex;
  grid-gap: 20px;
}
.max-width1 {
  flex-direction: column;
}
.text-container1 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.text05 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text06 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.text08 {
  color: var(--dl-color-scheme-black80);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.tab-selector-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: center;
}
.text12 {
  margin-right: 30px;
}
.text13 {
  margin-right: 30px;
}
.text14 {
  margin-right: 30px;
}
.text15 {
  margin-right: 30px;
}
.text16 {
  margin-right: 30px;
}
.tab-selector-cards-container {
  width: 100%;
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.About {
  background-color: var(--dl-color-scheme-lightbrown);
}
.max-width2 {
  flex-direction: row;
  justify-content: space-between;
}
.text-container2 {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.text18 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text19 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.text23 {
  color: var(--dl-color-scheme-black80);
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.checklist {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.check-item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.icon {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.text24 {
  font-style: normal;
  font-weight: 500;
}
.check-item1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.icon02 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.text25 {
  font-style: normal;
  font-weight: 500;
}
.check-item2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.icon04 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.text26 {
  font-style: normal;
  font-weight: 500;
}
.check-item3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.icon06 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.text27 {
  font-style: normal;
  font-weight: 500;
}
.check-item4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.icon08 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.text28 {
  font-style: normal;
  font-weight: 500;
}
.check-item5 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.icon10 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.text29 {
  font-style: normal;
  font-weight: 500;
}
.image {
  flex: 1;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.Process {
  background-color: var(--dl-color-scheme-lightblue);
}
.max-width3 {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.text30 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text31 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-fourunits);
}
.step {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.text35 {
  color: var(--dl-color-scheme-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
}
.container1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text36 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: var(--dl-space-space-unit);
}
.text37 {
  color: var(--dl-color-scheme-white80);
}
.step1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.text38 {
  color: var(--dl-color-scheme-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
}
.container2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text39 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: var(--dl-space-space-unit);
}
.text40 {
  color: var(--dl-color-scheme-white80);
}
.step2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.text41 {
  color: var(--dl-color-scheme-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
}
.container3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text42 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: var(--dl-space-space-unit);
}
.text43 {
  color: var(--dl-color-scheme-white80);
}
.max-width4 {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.text44 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text45 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.text47 {
  color: var(--dl-color-scheme-black80);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.primary1 {
  margin-bottom: var(--dl-space-space-threeunits);
}
.blog-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.Banner {
  background-color: var(--dl-color-scheme-brown);
}
.max-width5 {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.text51 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text52 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.text54 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.primary2 {
  margin-bottom: var(--dl-space-space-threeunits);
}
.top-part {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.links-container {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text58 {
  color: var(--dl-color-scheme-brown);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.text59 {
  margin-bottom: var(--dl-space-space-unit);
}
.text60 {
  margin-bottom: var(--dl-space-space-unit);
}
.navigate-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text62 {
  color: var(--dl-color-scheme-brown);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.text63 {
  margin-bottom: var(--dl-space-space-unit);
}
.text64 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text66 {
  color: var(--dl-color-scheme-brown);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.text67 {
  margin-bottom: var(--dl-space-space-unit);
}
.subscribe-container {
  flex: 0 0 auto;
  width: 35%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text75 {
  color: var(--dl-color-scheme-brown);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.textinput {
  outline: none;
  align-self: stretch;
  padding-top: 4px;
  border-color: rgba(0, 0, 0, 0.1);
  padding-left: 0px;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  padding-bottom: 4px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.Separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #D9D9D9;
}
.max-width7 {
  flex-direction: row;
  justify-content: space-between;
}
.image1 {
  width: 100px;
  object-fit: cover;
}
.text76 {
  align-self: center;
}
.text78 {
  font-weight: 700;
}
.text80 {
  font-weight: 700;
}
@media(max-width: 991px) {
  .tab-selector-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .max-width2 {
    flex-direction: column;
  }
  .text-container2 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .image-container {
    width: 100%;
  }
  .image {
    width: 100%;
  }
  .blog-cards-container {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .tab-selector-cards-container {
    grid-template-columns: 1fr;
  }
  .text35 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .text38 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .text41 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .top-part {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .links-container {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
  }
  .subscribe-container {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .Services {
    padding-top: 42px;
  }
  .text01 {
    font-size: 45px;
    font-family: Poppins;
    line-height: 50px;
  }
  .cards-container {
    width: 302px;
    flex-direction: column;
  }
  .text35 {
    margin-right: var(--dl-space-space-twounits);
  }
  .text38 {
    margin-right: var(--dl-space-space-twounits);
  }
  .text41 {
    margin-right: var(--dl-space-space-twounits);
  }
  .top-part {
    align-items: center;
    flex-direction: column;
  }
  .contact-container {
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .max-width7 {
    flex-direction: column;
  }
  .image1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .text76 {
    text-align: center;
  }
}
