.Header {
  top: 0;
  width: 100%;
  height: 81px;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.image {
  width: 194px;
  height: 64px;
}
.Nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.Register {
  color: var(--dl-color-scheme-white);
  background-color: #d30102;
}
.BurgerMenu {
  display: none;
}
.Icon {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
.Nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.Container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.CloseMobileMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon2 {
  width: 24px;
  height: 24px;
}
.rootClassName {
  background-color: transparent;
}
@media(max-width: 991px) {
  .Nav {
    display: none;
  }
  .BurgerMenu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .max-width {
    padding: var(--dl-space-space-unit);
  }
  .image {
    width: 149px;
    height: 49px;
  }
}
@media(max-width: 479px) {
  .max-width {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .image {
    width: 130px;
    height: 42px;
  }
  .Icon {
    fill: var(--dl-color-scheme-white);
  }
}
