.Nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navlink {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.navlink:hover {
  color: var(--dl-color-scheme-brown);
}
.text {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
}
.text:hover {
  color: var(--dl-color-scheme-brown);
}
.text1 {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
}
.text1:hover {
  color: var(--dl-color-scheme-brown);
}
.text2 {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
}
.text2:hover {
  color: var(--dl-color-scheme-brown);
}








.rootClassName17 {
  margin-right: var(--dl-space-space-threeunits);
}
@media(max-width: 767px) {
  .Nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
