.ServicesCard {
  background-color: #ef233c;
}
.container {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 12px;
  justify-content: center;
  background-color: rgba(182, 71, 47, 0.1);
}
.image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.text {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.text1 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.text2 {
  color: var(--dl-color-scheme-white);
  cursor: pointer;
  text-decoration: underline;
}
